@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@await Html.PartialAsync("_Avatar_Element")

<div class="dropdown-menu dropdown-menu-right pt-0">
    <form method="get" asp-page-handler="logout">
        <button class="dropdown-item my-point-link" type="submit">
            <svg class="c-icon mfe-2">
                <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-account-logout"></use>
            </svg> Вийти
        </button>
    </form>
</div>
