@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-3">Вітаю, користувач!</h1>
        <p class="lead">Ви потрапили на стартову сторінку додатка ВЕБАРХІВ. За допомогою цього додатка ви зможете зберігати в базі даних інформацію про такі матеріали як книги / методички, публікації, тези.</p>
        <hr class="my-4">
        <p>Щоб запустити програму, увійдіть або зареєструйтеся...</p>
        <p class="lead"><a class="btn btn-primary btn-lg" href="/identity/login" role="button">Увійти/Зареєструватися</a></p>
    </div>
</div>
