@page "{handler?}"
@model WebArchivProject.Areas.Workspace.Pages.SearchModel
@inject WebArchivProject.Contracts.IServBooks _servBooks
@inject WebArchivProject.Contracts.IServPosts _servPosts
@inject WebArchivProject.Contracts.IServTheses _servTheses
@inject IAntiforgery _antiforgery
@{
    ViewData["Title"] = "Пошук";
    var token = _antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}
<input name="__RequestVerificationToken" type="hidden" value="@token">
<!-- Частичное представление страницы со стартом поиска -->
<div class="c-wrapper">
    <header class="c-header c-header-fixed">
        <ul class="c-header-nav d-md-down-none">
            <li class="c-header-nav-item px-3">
                <a class="c-header-nav-link my-point-link"
                   href="/workspace">
                    На Головну
                </a>
            </li>
        </ul>
        <ul class="c-header-nav avatar-position">
            <li class="c-header-nav-item dropdown">
                @await Html.PartialAsync("_Partial_Avatar_Block")
            </li>
        </ul>
    </header>
    <div class="c-body">
        <main class="c-main">
            <div class="container-fluid">
                <div class="fade-in">
                    <div class="row">
                        <div class="col-sm-2 col-md-2"></div>
                        <div class="col-sm-8 col-md-8">
                            @await Html.PartialAsync("_Partial_Check_Filters")
                        </div>
                        <div class="col-sm-2 col-md-2"></div>
                    </div>
                    <div class="row" id="_all_search_result"></div>
                </div>
            </div>
        </main>
    </div>
    @await Html.PartialAsync("_Partial_Footer")
</div>

<div class="modal fade"
     id="_book_modal"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
    @await Html.PartialAsync("_Modal_BookSearch", _servBooks.GetBooksComboFilters())
</div>

<div class="modal fade"
     id="_post_modal"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
    @await Html.PartialAsync("_Modal_PostSearch", _servPosts.GetPostsComboFilters())
</div>

<div class="modal fade"
     id="_thesis_modal"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
    @await Html.PartialAsync("_Modal_ThesisSearch", _servTheses.GetThesesComboFilters())
</div>
