.my-point-link {
    cursor: pointer;
}

.avatar-position{
    position:absolute;
    right:10px;
}

.plus-icon{
    position:relative;
    left: -7px;
    top:5px;
}

.help-block{
    margin-left:3px;
    font-size: 11px;
}