@model string
@using static WebArchivProject.Extensions.StringExtensions

<div class="form-group row" id="@Model.ToNextId()">
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <input class="form-control" id="author" type="text" name="author" placeholder="Ім'я українською..">
    </div>
    <div class="col-md-3">
        <input class="form-control" id="author" type="text" name="author" placeholder="Ім'я російською..">
    </div>
    <div class="col-md-3">
        <input class="form-control" id="author" type="text" name="author" placeholder="Ім'я англійською..">
    </div>
    <div class="col-md-1 del-author-row"  id="@Model">
        <svg class="c-icon plus-icon my-point-link">
            <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-minus"></use>
        </svg>
    </div>
</div>

<script>
    $(document).on('click  touchstart', '.del-author-row', function () {
        $('#_del_row_'.concat($(this).attr('id'))).remove();
    });
</script>