<!-- Частичное представление стартовой карточки добавления в архив -->
@model WebArchivProject.Models.DTO.DtoStartItem
@inject WebArchivProject.Contracts.IServAuthorsRows _cash
@{ 
    var rows = _cash.AuthorsRows;
}

<div class="card">
    <div class="card-header">Додати до архіву<span class="badge badge-pill badge-info float-right">1</span></div>
    <div class="card-body">
        <form class="form-horizontal" asp-page-handler="further" method="post" id="_start_form">
            <span class="help-block" style="margin-left:18%">Щоб додати декілька авторів натисніть +</span>
            @await Html.PartialAsync("_Add_Start_Author_First", Model)
            <div id="_authors_area">
                @if (rows.Count > 0 && !rows.FirstOrDefault().Value.IsEmptyObj)
                {
                    @await Html.PartialAsync("_Add_Start_Author_Next", Model)
                }
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="hf-password">Назва</label>
                <div class="col-md-9">
                    <input class="form-control" type="text" name="name" placeholder="Ввведіть назву публікації..">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="hf-password">Рік</label>
                <div class="col-md-9">
                    <input class="form-control" type="text" name="year" placeholder="Ввведіть рік публікації..">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-10 col-form-label">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="book_method" name="itemtype" checked>
                        <label class="form-check-label">книга/методичка</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="post" name="itemtype">
                        <label class="form-check-label">стаття</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="thesis" name="itemtype">
                        <label class="form-check-label">тезиси</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button class="btn btn-sm btn-info float-right" type="submit" id="_further_btn"> Далі > </button>
    </div>
</div>
