<!-- Частичное представление карточки добавления тезисов -->
<div class="card">
    <div class="card-header">Тезиси<span class="badge badge-pill badge-info float-right">2</span></div>
    <div class="card-body">
        <form class="form-horizontal"
              id="_add_thesis_form"
              method="post"
              asp-page-handler="addThesis">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Назва конференції</label>
                <div class="col-md-8">
                    <input class="form-control"
                           type="text"
                           name="conferencename"
                           required
                           placeholder="Введіть назву конференції..">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Країна</label>
                <div class="col-md-8">
                    <input class="form-control"
                           type="text"
                           name="country"
                           required
                           placeholder="Ввведіть назву країни..">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Місто</label>
                <div class="col-md-8">
                    <input class="form-control"
                           type="text"
                           name="city"
                           required
                           placeholder="Ввведіть назву міста..">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Дата проведення</label>
                <div class="col-md-3">
                    <input class="form-control"
                           type="text"
                           name="datesintervalstart"
                           required
                           placeholder="Початок">
                </div>
                <div class="col-md-1">—</div>
                <div class="col-md-3">
                    <input class="form-control"
                           type="text"
                           required
                           name="datesintervalfinish" placeholder="Кінець">
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Інтервал сторінок</label>
                <div class="col-md-3">
                    <input class="form-control"
                           type="text"
                           name="pagesintervalstart"
                           required
                           placeholder="Початок">
                </div>
                <div class="col-md-1">—</div>
                <div class="col-md-3">
                    <input class="form-control"
                           type="text"
                           name="pagesintervalfinish"
                           required
                           placeholder="Кінець">
                </div>
                <div class="col-md-2"></div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <form method="post" asp-page-handler="back">
            <button class="btn btn-sm btn-info float-left" type="submit"> < Назад </button>
        </form>
        <button class="btn btn-sm btn-info float-right" type="submit" id="_add_thesis_btn"> Додати </button>
    </div>
</div>
