<!-- Частичное представление карточки добавления тезисов -->

<form class="form-horizontal"
      method="post"
      asp-page-handler="addThesis">
    <div class="card">
        <div class="card-header">Тезиси<span class="badge badge-pill badge-info float-right">2</span></div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Назва конференції</label>
                <div class="col-md-8">
                    <input class="form-control"
                           type="text"
                           name="conferencename"
                           required
                           placeholder="Введіть назву конференції..">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Країна</label>
                <div class="col-md-8">
                    <input class="form-control"
                           type="text"
                           name="country"
                           required
                           placeholder="Ввведіть назву країни..">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Місто</label>
                <div class="col-md-8">
                    <input class="form-control"
                           type="text"
                           name="city"
                           required
                           placeholder="Ввведіть назву міста..">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Дата проведення</label>
                <div class="col-md-3">
                    <input class="form-control"
                           type="text"
                           name="datesintervalstart"
                           required
                           placeholder="Початок">
                </div>
                <div class="col-md-1">—</div>
                <div class="col-md-3">
                    <input class="form-control"
                           type="text"
                           required
                           name="datesintervalfinish" placeholder="Кінець">
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Інтервал сторінок</label>
                <div class="col-md-3">
                    <input class="form-control my-count-input"
                           type="text"
                           name="pagesintervalstart"
                           required
                           placeholder="Початок">
                </div>
                <div class="col-md-1">—</div>
                <div class="col-md-3">
                    <input class="form-control my-count-input"
                           type="text"
                           name="pagesintervalfinish"
                           required
                           placeholder="Кінець">
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-info float-left" type="button" onclick="BackSubmit()"> < Назад </button>
            <button class="btn btn-sm btn-info float-right" type="submit"> Додати </button>
        </div>
    </div>
</form>
<form method="post" asp-page-handler="back" id="_btn_back_form"></form>
<script>
    $(document).ready(function () {
        $(".my-count-input").mask('0000')
    });
    function BackSubmit() {
        $('form#_btn_back_form').submit();
    }
</script>
