<select class="form-control" id="_type_select" name="type">
    <option value="Іньше">Вибрати</option>
    <option value="Методичний посібник">Методичний посібник</option>
    <option value="Навчально-методичний посібник">Навчально-методичний посібник</option>
    <option value="Іньше">Іньше</option>
</select>