<select class="form-control" id="_type_select" name="type">
    <option value="Іньше">Вибрати</option>
    <option value="Підручник">Підручник</option>
    <option value="Навчальний посібник">Навчальний посібник</option>
    <option value="Іньше">Іньше</option>
</select>