<!-- Частичное представление карточки всех публикаций архива -->
@model WebArchivProject.Models.DTO.DtoSearchResultAll

<div class="col-sm-2 col-md-2"></div>
<div class="col-sm-8 col-md-8">
    <div class="row">
        <div class="card fade-in col-sm-12 col-md-12">
            <div class="card-header"><h5>Каталог Книжок</h5></div>
            <div class="container p-3 mt-3">
                <div id="_table_books_result">
                    @await Html.PartialAsync("_Table_BooksResult", Model.BooksPager)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card fade-in col-sm-12 col-md-12">
            <div class="card-header"><h5>Каталог Постів</h5></div>
            <div class="container p-3 mt-3">
                <div id="_table_posts_result">
                    @await Html.PartialAsync("_Table_PostsResult", Model.PostsPager)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card fade-in col-sm-12 col-md-12">
            <div class="card-header"><h5>Каталог Тезісів</h5></div>
            <div class="container p-3 mt-3">
                <div id="_table_theses_result">
                    @await Html.PartialAsync("_Table_ThesisesResult", Model.ThesesPager)
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-2 col-md-2"></div>
