<!-- Частичное представление таблицы постов -->
@model WebArchivProject.Models.VO.Paginator<WebArchivProject.Models.DTO.DtoSearchresultPost>
@using static WebArchivProject.Extensions.StringExtensions

<div class="fade-in">
    <table class="table table-responsive-sm table-sm">
        <thead>
            <tr>
                <th>№</th>
                <th>Автор</th>
                <th>Назва статті</th>
                <th>Журнал</th>
                <th>Рік</th>
                <th>Том</th>
                <th>Сторінок</th>
                <th>Інтервал</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model)
            {
                <tr id="@post.Id.ToNav(Model.ForTable, Model.ForContainer)">
                    @await Html.PartialAsync("_Row_PostResult", new WebArchivProject.Models.DTO.DtoRowPostSearchView
                    {
                        Post = post,
                        TargetedTable = Model.ForTable,
                        TargetedContainer = Model.ForContainer
                    })
                </tr>
            }
        </tbody>
    </table>
    @await Html.PartialAsync("_UI_Paginator_Block", Model)
</div>