<!-- Частичное представление таблицы тезисов -->
@model List<WebArchivProject.Models.DTO.DtoSearchresultThesis>

<div>
    <h4>Каталог Тезисів</h4>
    <table class="table table-responsive-sm table-sm">
        <thead>
            <tr>
                <th>№</th>
                <th>Автор</th>
                <th>Тезис</th>
                <th>Конференція</th>
                <th>Гео</th>
                <th>Рік</th>
                <th>Сторінок</th>
                <th>Інтервал</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>
                    Карпенко Н.В.<br />
                    Герасимов О.А.
                </td>
                <td>Обгрунтований тезис</td>
                <td>IT Summit 2019</td>
                <td>
                    Украъна, <br />
                    Миколаїв
                </td>
                <td>2019</td>
                <td>5</td>
                <td>15-20</td>
                <td>
                    <button class="btn btn-sm btn-block btn-outline-info">
                        Видалити
                    </button>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    Карпенко Н.В.<br />
                    Герасимов О.А.
                </td>
                <td>Обгрунтований тезис</td>
                <td>IT Summit 2019</td>
                <td>
                    Украъна, <br />
                    Миколаїв
                </td>
                <td>2019</td>
                <td>5</td>
                <td>15-20</td>
                <td>
                    <button class="btn btn-sm btn-block btn-outline-info">
                        Видалити
                    </button>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>
                    Карпенко Н.В.<br />
                    Герасимов О.А.
                </td>
                <td>Обгрунтований тезис</td>
                <td>IT Summit 2019</td>
                <td>
                    Украъна, <br />
                    Миколаїв
                </td>
                <td>2019</td>
                <td>5</td>
                <td>15-20</td>
                <td>
                    <button class="btn btn-sm btn-block btn-outline-info">
                        Видалити
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</div>