<!-- Частичное представление таблицы тезисов -->
@model WebArchivProject.Models.VO.Paginator<WebArchivProject.Models.DTO.DtoSearchresultThesis>
@using static WebArchivProject.Extensions.StringExtensions

<div class="fade-in">
    <table class="table table-responsive-sm table-sm">
        <thead>
            <tr>
                <th>№</th>
                <th>Автор</th>
                <th>Тезис</th>
                <th>Конференція</th>
                <th>Гео</th>
                <th>Рік</th>
                <th>Сторінок</th>
                <th>Інтервал</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var thesis in Model)
            {
                <tr id="@thesis.Id.ToNav(Model.ForTable, Model.ForContainer)">
                    @await Html.PartialAsync("_Row_ThesisResult", new WebArchivProject.Models.DTO.DtoRowThesisSearchView
                    {
                        Thesis = thesis,
                        TargetedTable = Model.ForTable,
                        TargetedContainer = Model.ForContainer
                    })
                </tr>
            }
        </tbody>
    </table>
    @await Html.PartialAsync("_UI_Paginator_Block", Model)
</div>