<!-- Частичное представление таблицы постов -->
@model List<WebArchivProject.Models.DTO.DtoSearchresultPost>

<div>
    <h4>Каталог Статтей</h4>
    <table class="table table-responsive-sm table-sm">
        <thead>
            <tr>
                <th>№</th>
                <th>Автор</th>
                <th>Назва статті</th>
                <th>Журнал</th>
                <th>Рік</th>
                <th>Том, випуск</th>
                <th>Сторінок</th>
                <th>Інтервал</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>
                    Карпенко Н.В.<br />
                    Герасимов О.А.
                </td>
                <td>Обгрунтована стаття</td>
                <td>Cryptohacker</td>
                <td>2019</td>
                <td>13-й випуск</td>
                <td>2</td>
                <td>19-20</td>
                <td>
                    <button class="btn btn-sm btn-block btn-outline-info">
                        Видалити
                    </button>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    Карпенко Н.В.<br />
                    Герасимов О.А.
                </td>
                <td>Обгрунтована стаття</td>
                <td>Cryptohacker</td>
                <td>2019</td>
                <td>13-й випуск</td>
                <td>2</td>
                <td>19-20</td>
                <td>
                    <button class="btn btn-sm btn-block btn-outline-info">
                        Видалити
                    </button>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>
                    Карпенко Н.В.<br />
                    Герасимов О.А.
                </td>
                <td>Обгрунтована стаття</td>
                <td>Cryptohacker</td>
                <td>2019</td>
                <td>13-й випуск</td>
                <td>2</td>
                <td>19-20</td>
                <td>
                    <button class="btn btn-sm btn-block btn-outline-info">
                        Видалити
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</div>