<div>
    <h4>Каталог книжок</h4>
    <table class="table table-responsive-sm table-sm">
        <thead>
            <tr>
                <th>№</th>
                <th>Перший автор</th>
                <th>Інші автори</th>
                <th>Назва</th>
                <th>Рік</th>
                <th>Сторінок</th>
                <th>Тип</th>
                <th>Видавництво</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Тіхонов М.В.</td>
                <td>
                    Карпенко Н.В.<br />
                    Герасимов О.А.
                </td>
                <td>Фінансист</td>
                <td>2019</td>
                <td>1029</td>
                <td>Роман</td>
                <td>Д.:Ліра</td>
                <td class="">
                    <button class="btn btn-sm btn-block btn-outline-info">
                        Видалити
                    </button>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Тіхонов М.В.</td>
                <td>
                    Карпенко Н.В.<br />
                    Герасимов О.А.
                </td>
                <td>Фінансист</td>
                <td>2019</td>
                <td>1029</td>
                <td>Роман</td>
                <td>Д.:Ліра</td>
                <td>
                    <button class="btn btn-sm btn-block btn-outline-info">
                        Видалити
                    </button>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Тіхонов М.В.</td>
                <td>
                    Карпенко Н.В.<br />
                    Герасимов О.А.
                </td>
                <td>Фінансист</td>
                <td>2019</td>
                <td>1029</td>
                <td>Роман</td>
                <td>Д.:Ліра</td>
                <td>
                    <button class="btn btn-sm btn-block btn-outline-info">
                        Видалити
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</div>
