<!-- Частичное представление таблицы с книгами -->
@model WebArchivProject.Models.VO.Paginator<WebArchivProject.Models.DTO.DtoSearchresultBook>
@using static WebArchivProject.Extensions.StringExtensions

<div class="fade-in">
    <table class="table table-responsive-sm table-sm">
        <thead>
            <tr>
                <th>№</th>
                <th>Перший автор</th>
                <th>Інші автори</th>
                <th>Назва</th>
                <th>Рік</th>
                <th>Сторінок</th>
                <th>Тип</th>
                <th>Видавництво</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr id="@book.Id.ToNav(Model.ForTable, Model.ForContainer)">
                    @await Html.PartialAsync("_Row_BookResult", new WebArchivProject.Models.DTO.DtoRowBookSearchView
                    {
                        Book = book,
                        TargetedTable = Model.ForTable,
                        TargetedContainer = Model.ForContainer
                    })
                </tr>
                <tr class="collapse"
                    id="@book.Id.ToCollapseId(Model.ForTable, Model.ForContainer)">
                    <td colspan="9" id="@book.Id.ToEditedId(Model.ForTable, Model.ForContainer)">
                        @await Html.PartialAsync("_UI_Spinner_Wave")
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @await Html.PartialAsync("_UI_Paginator_Block", Model)
</div>
