<a href="#"
   role="button"
   aria-haspopup="true"
   aria-expanded="false"
   data-toggle="dropdown"
   class="c-header-nav-link">

    <div class="c-avatar"
         style="margin-right: 15px">
        <img class="c-avatar-img"
             src="assets/img/avatars/1.jpg">
    </div>
</a>