@model WebArchivProject.Models.DTO.DtoButtonDeleteItem
@{ 
    string disabled = Model.Disabled ? "disabled" : null;
}

<button class="btn btn-sm btn-block btn-outline-info btn-delete-item"
        data-target="@Model.ItemType"
        data-trigger="@Model.ItemTrigger"
        id="@Model.DeletedItemId"
        @disabled>
    Видалити
</button>
