<!DOCTYPE html>
<html>
<head>
    <base href="~/">
    <meta charset="utf-8">
    <meta name="robots" content="noindex nofollow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>

    <link href="css/style.css" rel="stylesheet" asp-append-version="true">
    <link href="css/site.css" rel="stylesheet" asp-append-version="true">
    <link href="vendors/coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">
    <script src="vendors/jquery/js/jquery.min.js"></script>
</head>
<body class="c-app">

    @RenderBody()

    <script src="vendors/coreui/coreui-pro/js/coreui.bundle.min.js"></script>
    <!--[if IE]><!-->
    <script src="vendors/coreui/icons/js/svgxuse.min.js"></script>
    <!--<![endif]-->
    <!-- Plugins and scripts required by this view-->
    <script src="vendors/coreui/chartjs/js/coreui-chartjs.bundle.js"></script>
    <script src="vendors/coreui/utils/js/coreui-utils.js"></script>
    <script src="js/site.js" asp-append-version="true"></script>
</body>
</html>
