<!-- Частичное представление формы регистрации -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mx-4">
                <div class="card-body p-4">
                    <h1>Реєстрація</h1>
                    <form method="post" asp-page-handler="register">
                        <p class="text-muted">Створіть обліковий запис</p>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <svg class="c-icon">
                                        <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-user"></use>
                                    </svg>
                                </span>
                            </div>
                            <input class="form-control" type="text" name="name" placeholder="Ім'я користувача" required>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <svg class="c-icon">
                                        <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-envelope-open"></use>
                                    </svg>
                                </span>
                            </div>
                            <input class="form-control" name="mail" type="email" placeholder="Поштова скринька" required>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <svg class="c-icon">
                                        <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-lock-locked"></use>
                                    </svg>
                                </span>
                            </div>
                            <input class="form-control" name="password" type="password" placeholder="Пароль" required>
                        </div>
                        @*<div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <svg class="c-icon">
                                        <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-lock-locked"></use>
                                    </svg>
                                </span>
                            </div>
                            <input class="form-control" type="password" placeholder="Повторити пароль" required>
                        </div>*@
                        <button class="btn btn-block btn-success" type="submit">Створити обліковий запис</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>